aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.2.0
certifi==2019.6.16
chardet==3.0.4
Django==2.2.2
django-jsonify==0.3.0
et-xmlfile==1.0.1
idna==2.8
jdcal==1.4.1
lml==0.0.9
multidict==4.7.4
mysql-connector-python==8.0.16
openpyxl==3.0.3
protobuf==3.9.1
pyexcel==0.5.15
pyexcel-io==0.5.20
pyexcel-xls==0.5.8
pyexcel-xlsx==0.5.8
pymemcache==2.2.2
pyodbc==4.0.26
pytz==2019.1
requests==2.21.0
six==1.12.0
sqlparse==0.3.0
texttable==1.6.2
untangle==1.1.1
urllib3==1.24.2
xlrd==1.2.0
xlwt==1.3.0
xmltodict==0.12.0
yarl==1.4.2
