<html>
    <head>
        <style type="text/css">
            table {
                width: 800px;
                border-collapse: collapse;
            }
            td, th {
                padding: 3px;
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th colspan="3">SERVICE LEVEL</th>
                </tr>
                <tr>
                    <th>Сектор</th>
                    <th>Минимальный допустимый уровень</th>
                    <th>Текущий уровень</th>
                </tr>
            </thead>
        </table>
    </body>
</html>